<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <title>QnD CRM - Your Accounts</title>
</head>
<body>

<th:block th:include="template :: navbar"/>

<div class="container" style="margin-bottom: 15px; margin-top: 15px; color: #FFFFFF">
    <h2>Your Accounts</h2>
    <p>Type to quote filter Accounts</p>
    <input id="myInput" type="text" placeholder="Filter..">
    <br><br>
    <div class="row">
        <table class="col-12">
            <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Importance</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="account,itr : ${accounts}">
                <td th:text="${itr.index + 1}"></td>
                <td th:text="${account.getName()}"></td>
                <td th:text="${account.getImportance()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:include="template :: scripts_js"/>
</body>
</html>