<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <title>QnD CRM - Your task list</title>
</head>
<body>

<th:block th:include="template :: navigator"/>

<h2>Add new task:</h2>

<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form th:href="@{/tasks}" method="post">
            <div class="form-group">
                <label for="username">Priority:</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="form-check">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<h2>Here are your tasks:</h2>


<th:block th:include="template :: scripts_js"/>
</body>
</html>