<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
     <title>QnD CRM - Please login</title>
</head>
<body>

<th:block th:include="template :: navbar"/>
<div style="margin-top: 10px">
<div style="color: #FFFFFF; text-align: center">
    <h1 class="display-4">Please login</h1>
    <p class="lead">Using your credentials</p>
</div>
</div>

<!--<div class="login-page">-->
    <div class="form">
        <form class="login-form" th:href="@{/login}" method="post" id="form1">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <button type="submit" form="form1" value="submit">login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>
<!--</div>-->


<th:block th:include="template :: scripts_js"/>
</body>
</html>