<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <title>Welcome to QnD CRM User Registration</title>
</head>
<body>

<th:block th:include="template :: messageBox"/>
<th:block th:include="template :: navbar"/>

<div style="margin-top: 10px">
    <div style="color: #FFFFFF; text-align: center">
        <h1 class="display-4">Please register to start using your free CRM</h1>
        <p class="lead">Provide us with following credentials</p>
    </div>
</div>

<!--<div class="login-page">-->
<div class="form">
    <form class="login-form" th:href="@{/register}" method="post" id="form1">
        <input type="text" name="firstName" placeholder="First Name"/>
        <input type="text" name="lastName" placeholder="Last Name"/>
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit" form="form1" value="submit">Register</button>
        <p class="message">Already registered? <a href="/login">Please login</a></p>
    </form>
</div>


<!--<div class="container">-->
    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
        <!--<form th:href="@{/register}" method="post" th:object="${formObject}">-->
            <!--<div class="form-group">-->
                <!--<label for="username">First name:</label>-->
                <!--<input type="text" class="form-control" name="firstname" id="firstname" th:field="*{firstName}" aria-describedby="usernameHelp"-->
                       <!--placeholder="FirstName">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="username">Last name:</label>-->
                <!--<input type="text" class="form-control" name="firstname" id="lastname" th:field="*{lastName}" aria-describedby="usernameHelp"-->
                       <!--placeholder="LastName">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="username">Username:</label>-->
                <!--<input type="text" class="form-control" name="username" id="username" th:field="*{username}" aria-describedby="usernameHelp"-->
                       <!--placeholder="Username">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="password">Password:</label>-->
                <!--<input type="password" class="form-control" name="password" id="password"  th:field="*{password}"placeholder="Password">-->
            <!--</div>-->
            <!--<div class="form-check">-->
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<th:block th:include="template :: scripts_js"/>
    </body>
</html>